@import url('https://fonts.googleapis.com/css2?family=Concert+One:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
/* *{
/* margin :0;
padding: 0;
box-sizing: 0; */


body{
    background: whitesmoke;
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background: linear-gradient(45deg,rgba(183, 204, 248, 0.717),rgba(7, 43, 127, 0.679)), url('./images/background.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input{
    text-align: center;
}
input[type='submit']{
   height:50px;
   width:600ppx;
   font-family:'Nunito', sans-serif;
   font-weight: bold;
   font-size: 20px;
   border: none;
   border-radius:2px ;
   padding: 10px 10px;
}
input[type='text']{
    height:50px;
    width:600ppx;
    font-family:'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius:2px ;
    padding: 10px 10px;
 }



.display{
    text-align: center;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}
